# Essential Dependencies
numpy==1.23.5
pandas
scikit-learn==1.2.2
streamlit

# Machine Learning & Deep Learning
torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0

# Other Dependencies (Modify if needed)
scipy
joblib
matplotlib
seaborn
